<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="/a1Style.css" />
</head>
<body>
	<h1>Assign a Professor to a Course</h1>

	<form action="/assignProf" method="post">

		Professors - <select name="pId">
			<option th:each="p : ${professors}" th:value="${p.id}"
				th:text="${p.name}">
		</select> <br>
		<br> Courses - <select name="cId">
			<option th:each="c : ${courses}" th:value="${c.id}"
				th:text="${c.name}">
		</select> <br>
		<br> <input type="submit" value="ASSIGN">

	</form>
	
	<br>
	
	<a href="/">Root Page</a>
	<br> <br>
	<a href="/viewProfs">View Professors</a>

</body>
</html>