<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{a1Style.css}" />
</head>
<body>
	<h1>Courses</h1>

	<table border="1">

		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Course Code</th>
			<th>More</th>
		</tr>
		<tr th:each="c : ${courses}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.code}"></td>
			<td><a th:href="@{/viewCourse/{id}(id=${c.id})}">DETAILS</a></td>
		</tr>

	</table>

	<br>

	<a href="/">Root Page</a>
	<br> <br>
	<a href="/addCourse">Add Course</a>

</body>
</html>